*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input[type="file" i]::-webkit-file-upload-button {
    border: none;
 }
.Form-part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.FormSection{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 40px;
}
.part1{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.part1 input{
    position: absolute;
    display: none;
}
.part1 span{
    width: 35vmin;
    border: 1.5px solid rgb(48, 48, 47);
    padding: 1px;
}
.part1 label{
    background-color: #E5E5E5;
    border: 1px solid rgb(73, 72, 72);
    padding: 1px;
}

.part2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.part2 input{
    width: 130px;
}
.part3 {
    display: flex;
    margin-top: 10px;
}
.part3 input{
    width: 100%;
}
.part4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.part4 button{
    width: 70px;
    padding: 1px;
}
/* img{
    width: 50px;
    height: 15px;
} */
